.child-button{
    color: #67697C;
    background: #fff;
    border: 1px solid #67697C;
    font-size: 17px;
    padding: 7px 12px;
    font-weight: normal;
    margin: 6px 0;
    margin-right: 12px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    min-width: 120px;
}
.child-button:hover, .child-button:active {
    color:#fff;
    background:#C6878F;
    border: 1px solid #fff;
  }